<h2>Data types</h2>
<h4> Numbers </h4>

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

<h4> Variable Assignment </h4>

In [8]:
# Cannot start with number or special characters
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

<h4> Strings </h4>

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

<h4> Printing </h4>

In [15]:
x = 'hello'

In [16]:
x

'hello'

In [17]:
print(x)

hello

In [18]:
num = 12
name = 'Sam'

In [19]:
print('My number is : {one}, and my name is: {two}'.format(one=num,two=name))

My number is : 12, and my name is: Sam

In [22]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

<h4> Lists </h4>

In [23]:
[1,2,3]

[1, 2, 3]

In [24]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [25]:
my_list = ['a','b','c']

In [26]:
my_list.append('d')

In [27]:
my_list

['a', 'b', 'c', 'd']

In [28]:
my_list[0]

'a'

In [29]:
my_list[1]

'b'

In [30]:
my_list[1:]

['b', 'c', 'd']

In [31]:
my_list[:1]

['a']

In [32]:
my_list[0] = 'New'

In [33]:
my_list

['New', 'b', 'c', 'd']

In [35]:
nest = [1,2,3,[4,5,['target']]]

In [36]:
nest[3]

[4, 5, ['target']]

In [37]:
nest[3][2]

['target']

In [38]:
nest[3][2][0]

'target'

<h4> Dictionaries </h4>

In [39]:
d = {'key1':'item1','key2':'item2'}

In [40]:
d

{'key1': 'item1', 'key2': 'item2'}

In [41]:
d['key1']

'item1'

<h4> Booleans </h4>

In [42]:
True

True

In [43]:
False

False

<h4> Tuples </h4>

In [44]:
t = (1,2,3)

In [45]:
t[0]

1

In [46]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

<h4> Sets </h4>

In [47]:
{1,2,3}

{1, 2, 3}

In [48]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}